@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab&family=Lato&family=Roboto&display=trocar');


*{
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
}

html{
    font-size: 14px;    
}
h2{
    font-family: var(--font-7);
}
@font-face {
    font-family:'cloinster';
    src: url('Fonts/CloisterBlack.ttf') format('truetype');
}
@font-face {
    font-family:'oldeenglish' ;
    src: url('Fonts/OldeEnglish.ttf') format('truetype');
}
@font-face {
    font-family:'oldlondon' ;
    src: url('Fonts/OldLondon.ttf') format('truetype');
}
@font-face {
    font-family:'olondona' ;
    src: url('Fonts/Olondona.otf') format('opentype');
}
@font-face {
    font-family:'typicons';
    src: url('Fonts/typicons.ttf') format('truetype');
}
@font-face {
    font-family:'school';
    src: url('Fonts/Sketch\ Gothic\ School.ttf') format('truetype');
}
:root{
    --cor-1:#f6f7f9;
    --cor-2:rgb(0, 255, 119);
    --cor-3:#faeffd;
    --cor-4:#b4ac9d;
    --cor-5:#a8f0fc;
    --cor-6:#76e1ff;
    --cor-7:#6b87f5;    
    --cor-8:#0268cc;
    --cor-9:#96ea9a;
    --cor-10:#161616;

    --font-1:'typicons', serif;
    --font-2:'Raleway', sans-serif;
    --font-3:'Josefin Sans', sans-serif;
    --font-4:'Josefin Slab', serif;
    --font-5:'Lato', sans-serif;
    --font-6:'Roboto', sans-serif;
    --font-7:Georgia, 'Times New Roman',times ,serif ;
    --font-8: ;
    --font-9: ;
    --font-10: ;   
}

@keyframes movebanner{
    0%{
        transform: translateY(10rem) rotatey(-35deg);
        opacity: 0;
        
    }
    20%{
        opacity: .3;
        font-size: .8rem;
        
    }
    30%{
        
    }
    40%{
        
    }
    50%{
        opacity: .5;
        font-size: 1.4rem;
        
    }
    60%{
        
    }
    70%{
        
    }
    80%{
        opacity: .8;
        font-size: 2rem;
        
    }    
    90%{
        
    }    
    100%{
        transform: translateY(0) rotatey(0deg);
        opacity: 1;  
         
    }

}
@keyframes zoom{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.container{   
    margin-top: 0;
    width: 1581px;
    
}
.body-container-bg{
    height: 41.3rem;
    background-image: url(Images/tecno.jpg);
    animation: zoom 2s;
}
.img-wrapper{   
    margin: auto;
    padding-top: 2rem;
    position: relative;
    width: 1407px;
    height: 550px;
}
.img-dest{
    width: 100%;
    height: 100%;    
    object-fit: cover;
    border-radius: 3rem 3rem 0rem 0rem;
    box-shadow: 11px 13px 0px black

}
.att{
    background-color: var(--cor-1);
    position: absolute;
    width: 350px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    line-height: 30px;
    box-shadow: 2px 8px 2px rgba(128, 128, 128, 0.562);
    top: 130px;
    left: 49px;
    animation: movebanner 2s 0.5s forwards;
    transition: color .8s;
}
.att:hover{    
    background-image: linear-gradient(to right, rgb(153, 236, 153), #0066cc);
    color: var(--cor-1);    
}
.att:hover>a>p{
    font-size: 1.5rem;
    opacity: .8;
}
.maislidos{
    margin: 5rem auto 1rem auto ;
    display: flex;
    background-color:#656565;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    border-radius: 2.2rem;
    position: relative;
    height: 120px;
}
.maislidos h2{
    text-align: center;
    display: block;
    position: absolute;
    top: 2%;
    left: 43%;
    color: white;
}
.cont{
    background-color:#d0d0d0;
    margin:2rem;
    width: 210px;
    height: 55px;
    border-radius: 30px 0px 15px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    font-size: 1.2rem;  
    font-family: var(--font-2);   
}
.cont:hover{
    cursor: pointer;
    background-color: #2b2b2b;
    color: #fff;
    box-shadow: 0px 7px 1px black;
}
.bg-change{
    position: absolute;
    width: 100%;
    height: 30rem;
    background-color: black;
    margin: 1.5rem auto;
    border-radius: 1.3rem;
}
.bg-change h2{
    color: white;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 2.2rem;
    transition: color 1s;
    width: 260px;
    margin: auto;
}
.bg-change h2:hover{
    color: var(--cor-6);
}
.princ{    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    margin: 15rem 0;
}
.box{
    width: 15rem;
    height: 17rem;
    position: relative;
    bottom: 2rem;
    background-color: white;
    box-shadow: 0 0 1rem gray;
    border-radius: 1rem;
    transition-delay: 1s;
    transition-property: opacity;
}
.box:hover .img-art{
    opacity: .7;
    outline: none;
    border-radius: 0;
}
.box:hover .name{   
    background-color: black;
    color: white;
    width: 210px;    
    left: 0px;    
    height: 29px;
    top: 202.25;
    bottom: 0px;
    border-radius: 0 0 1rem 1rem;
    text-align: center;    
}
.box:hover .conteudo{
    display: block;
}
.art{
    width: 15rem;
    height: 15rem;
    background-color: white;
    margin: 1rem;    
    object-fit: cover;
    position: absolute;
    top: -15px;
    left: -14px;
}
.art p{
    width: 100%;
    position: absolute;
    left: 5px;
    top: 5px;    
}
.conteudo{
    display: none;
}
.ep p{
    position: absolute;
    bottom: 0px;
    width: 5rem;
    height: 2rem;
    background-color: green;
    top: 89%;
    right: 0px;
    left: 140px;
    border-radius: 5px 0 0 0;
    text-align: center;
    transition: all 1s;
}
.ep:hover p{
    background-color: var(--cor-6);    
}
.cont-button{
    position: absolute;
    top: 70%;
    left: 20%;
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid gray;
    text-transform: uppercase;
    transition: all 1s;
    
}
.cont-button:hover{    
    background-color: var(--cor-8);
    color: white;
}
.name{
    position: absolute;
    bottom: 2%;
    left: 35%;
}
.name p{
    margin-top: 5px;
}

.img-art{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.sessao-maislidos{
    width: 1407px;
    height: 50vh;
    margin: auto;
    background-color: white;
}
.sessao-lidos-lanc{
    margin-top: 645px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #e5e1d6;
}
.lidos, .lanc{
    width: 40rem;
    height: 100%;
    padding:.8rem;
    box-shadow: 0 0 10px black;
    margin-top: 2rem;
}
.lanc{
    background-color: var(--cor-3);
}
.img-card-wrapper{
    width: 16rem;
    height: 19rem;
    margin: 1rem;
}
.card-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
}
.card{
    position: relative;
    box-shadow: 0 0 10px gray;
    border:1px solid gray;
    margin: 1rem auto;
    padding: .5rem;
    background-color: white;
}
.card p{
    position: absolute;
    top: 1.5rem;
    left: 260px;
    margin: 0 8px 0 -1.3rem;
    height: 18.5rem;
    border:1px solid gray;
    padding: .5rem .5rem 0 1rem;     
    text-indent: 1rem;
    text-align: start;
    border-left: none;
    font-size: 1.2rem;
}
.card h3{
    width: 16rem;
    height: 2rem;
    background-color: var(--cor-9);
    position: absolute;    
    bottom: 19px;
    text-align: center;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 30px 0px 15px 0px;    
}
.card-ep{
    width: 50px;
    height: 30px;
    background-color: #4a4a49;
    color: white;    
    display: flex;   
    justify-content: center;
    align-items: center;
    border-radius: 14px 11px 12px 0px;
    position: absolute;
    top: 12px;
    left: 11px;
}
.card-button{
    left: 60%;    
    top: 68%;
    background-image: linear-gradient(to top, #a044ff, #6a3093);
}
.card-button:hover{
    opacity: .8;
    cursor: pointer;
}
.card-group h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: darkslategray;
}
.lidos{
    width: 40rem;
    height: 100%;   
    background-color: var(--cor-3);   
}
.lidos h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: darkslategray;
    margin-bottom: 2rem;
}
.a-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 540px;    
}
.group{    
    padding: 1rem;
    position: relative;
    box-shadow: 0 0 10px black;
    width: 140px;
    border:1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-left: 0px;
    background-color: white;
}
.group-img-wrapper{
    width: 10rem;
    height: 10rem;        
}
.group-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.group p{
    position: absolute;
    bottom: 8%;
    left: 8.5%;
    width: 10rem;
    height: 20px;
    font-size: 1.2rem;
    text-align: center;
    background-color: cornflowerblue;
    color: black;    
}
.seletores{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 8%;
    background-color: rgba(253, 244, 244, 0.849);
}
.config, .config-2{
    font-size: 2rem;
}
.config-2{
    display: none;
}
.selec{
    display: none;   
    font-size: 1.4rem;
}
.selec:hover{
    opacity: 1;
}
.n-lidos{
    display: none;
}
.n-lido, .like, .unlike, .remove{
    cursor: pointer;
    margin-left: 32px;
}
.n-lido{
    margin-left: 0px;
}
.n-lido:hover{
    opacity: .8;
}
.like:hover{
    opacity: .8;
}
.unlile:hover{
    opacity:.8;
}
.unlike{
    display: none;
}
.remove:hover{
    opacity: .8;
}
.melhores{    
    margin-left: 56.5rem;
    margin-top: -52rem;
    width: 41.5rem;
    height: 100%;
    background-color: var(--cor-3);
    box-shadow: 0 0 10px black;
}
.melhores h2{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: darkslategray;
    font-size: 2rem;
    margin-top: .6rem;
}
.card-box-group{
    position: relative;
}
.melhores-div{
    background-color: white;
    box-shadow: 0 0 10px black;
    margin-top: 2rem;
    box-shadow: 0 0 10px grey;
    border: 1px solid gray;
    margin: 1.2rem;
    position:relative;
}
.card-box, .img-hover{
    width: 18rem;
    height: 21rem;    
}
.card-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;    
}
.card-box h3{
    position: absolute;
    top: 4%;
    left: 65%;
    font-size: 1.6rem;
}
.card-box p{
    position: absolute;
    top: 17%;
    width: 20rem;
    left: 48%;    
    text-indent: 1rem;
    text-align: start;
    border-left: none;
    font-size: 1.2rem;
}
.card-box-button{
    left: 63%;
    top: 80%;
}
.img-conteudo{
    position: absolute;
    top: 5%;
    left: 12%;
    display: none;
}
.img-conteudo h4{
    position: absolute;
    top: 6%;
    left: -69px;
    font-size: 2rem;
    width: 18.3rem;
    text-align: center;
}
.img-conteudo p{
    position: relative;
    top: -30px;
    left: -76%;
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    background-color: #4a4a49;
    color: white;
    padding: 0.2rem;
    border-radius: 14px 11px 12px 0px;
}
.img-hover{
    transition: all 1s;
}
.img-hover:hover img{
    opacity: .8;
}
.img-hover:hover .img-conteudo{
    display: flex;
}