@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
}

html{
    font-size: 14px;
}

@font-face {
    font-family:'cloinster';
    src: url('Fonts/CloisterBlack.ttf') format('truetype');
}
@font-face {
    font-family:'oldeenglish' ;
    src: url('Fonts/OldeEnglish.ttf') format('truetype');
}
@font-face {
    font-family:'oldlondon' ;
    src: url('Fonts/OldLondon.ttf') format('truetype');
}
@font-face {
    font-family:'olondona' ;
    src: url('Fonts/Olondona.otf') format('opentype');
}
@font-face {
    font-family:'typicons';
    src: url('Fonts/typicons.ttf') format('truetype');
}
@font-face {
    font-family:'school';
    src: url('Fonts/Sketch\ Gothic\ School.ttf') format('truetype');
}
:root{
    --cor-1:#f6f7f9;
    --cor-2:rgb(0, 255, 119);
    --cor-3:#faeffd;
    --cor-4:#b4ac9d;
    --cor-5:#a8f0fc;
    --cor-6:#76e1ff;
    --cor-7:#6b87f5;    
    --cor-8:#0268cc;
    --cor-9:#96ea9a;
    --cor-10:#161616;

    --font-1:'typicons', serif;
    --font-2: ;
    --font-3: ;
    --font-4: ;
    --font-5: ;
    --font-6: ;
    --font-7: ;
    --font-8: ;
    --font-9: ;
    --font-10: ;   
}

@keyframes movebanner{
    0%{
        transform: translateY(10rem) rotatey(-35deg);
        opacity: 0;
        
    }
    20%{
        opacity: .3;
        font-size: .8rem;
        
    }
    30%{
        
    }
    40%{
        
    }
    50%{
        opacity: .5;
        font-size: 1.4rem;
        
    }
    60%{
        
    }
    70%{
        
    }
    80%{
        opacity: .8;
        font-size: 2rem;
        
    }    
    90%{
        
    }    
    100%{
        transform: translateY(0) rotatey(0deg);
        opacity: 1;  
         
    }

}
@keyframes zoom{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}


body{
    font: normal normal 1rem var(--font-1);
}
.container{   
    margin-top: 0;
    width: 1581px;
    
}
header{
    width: 100%;
    height: 10rem;
    background-color: var(--cor-10);
    color: var(--cor-1);    
}
header h1{
    text-transform: uppercase;
    font: normal bold 2rem var(--font-1);
    padding: 1rem 0rem 0rem 7rem;
    text-shadow: 0 0 2px gray;
    width: 31.25rem;    
    display: flex;   
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
    transition: color 1.3s;
    animation: movebanner 2s 0.5s forwards;
}
header h1:hover{
    color: var(--cor-2);      
}
.agroup{
    display: flex;
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    margin-left: 581px;
    align-items: flex-start;
    
}
.ul-header{
    transition: color .5s;    
    font: normal lighter 1.4rem var(--font-1); 
}
.ul-header:hover{
    color:var(--cor-9);
}
.log-cad{
    width:12.5rem;
    display: flex;
    padding: 0px 5px;
    
    margin-left: 1350px;
    color: black;
    height: 4rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;  
}
.btn{
    margin:.3rem;
    padding:.4rem;
    height: 25px;
    border-radius: 1rem;
    transition: all 2s;
}
.btn:hover{
    background-image: linear-gradient(to right,rgb(162, 240, 216), rgb(0, 255, 119));
    opacity: .8;
    text-transform:uppercase ;
}

.ul-nav{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;    
    background-color: var(--cor-4);
    transition: color 2s;
    z-index: 9999;
}
.ul-nav li{
    padding: .4rem;
    width: 100%;
    text-align: center; 
    transition: color 2s;   
}
.ul-nav>li:hover{
    font-size: 1.1rem;
}
.ul-nav li:hover{
    background-image: linear-gradient(to bottom, white, gray);
    opacity: .9;
    color: var(--cor-10);   
}
.body-container-bg{
    height: 136vh;
    background-image: url(Images/tecno.jpg);
}
.img-wrapper{   
    margin: auto;
    padding-top: 2rem;
    position: relative;
    width: 1407px;
    height: 550px;
}
.img-dest{
    width: 100%;
    height: 100%;    
    object-fit: cover;
    border-radius: 3rem;

}
.att{
    background-color: var(--cor-1);
    position: absolute;
    width: 350px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    line-height: 30px;
    box-shadow: 2px 8px 2px rgba(128, 128, 128, 0.562);
    top: 130px;
    left: 49px;
    animation: movebanner 2s 0.5s forwards;
}
.att:hover{    
    background-image: linear-gradient(to right, rgb(153, 236, 153), #0066cc);
    color: var(--cor-1);    
}
.att:hover>a>p{
    font-size: 1.5rem;
}
