.container{
    width: 1200px;    
    margin: 5rem auto;
}
.card{
    background-color: #f4f4f4;
    position: relative;
    border-top: 4px solid #656565;  
    border-radius: 0rem 2rem 2rem 2rem;
    margin-top: 2rem;
}
.info-group{
    padding: .2rem;
}
.gene{
    background-color: #656565;
    position: relative;
    width: 280px;
    height: 50px;
    border-radius: 0px 44px 0px 34px;
}
.p{
    width: 240px;
}
.m{
    width: 280px;
}
.g{
    width: 290px;
}
.gg{
    width: 340px;
}
.gene h2{
    background: #656565;
    position: relative;
    left: 12%;
    top: 20%;
    width: 80%;
}
.quant{    
    background: #eee;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    color: #656565;
    float: right;
    font-size: 1rem;
    height: 28px;
    line-height: 28px;
    margin-left: 10px;
    margin-right: 1px;
    margin-top: 6px;
    padding: 0 12px;
    position: absolute;
    top: 4px;
    right: 2rem;
    width: 5rem;
}
.quant img{
    margin-top: 4px;
    
}
.quant h3{
    position: absolute;
    right: 13px;
    top: 0;
    font-size: 1.8rem;
}
.card .arrow{
    position: absolute;
    right: 20px;
    top: 12px;
    opacity: .8;
}